*{
    background: rgb(53, 52, 52);
    
}

table{
  
    border: 1px solid black;
    text-align: center;
    background: rgba(209, 103, 103, 0.808);
    
}
th{
    border: 2px solid black;
    width: 10vw;
    background: rgb(246, 148, 148);
}
td{
    border: 2px solid black;
    width: 10vw;
    background: rgb(117, 68, 68);
}
button{
    background: rgba(241, 201, 201, 0.815);
}
input{
    background: white;
}